@import "tailwindcss";

@theme {
  --font-sans: system-ui, 'Segoe UI', Roboto, sans-serif;
}

@layer base {
  body {
    @apply bg-gray-50 text-gray-900;
  }
}

@media print {
  @page {
    size: A4;
    margin: 0;
  }
  body {
    background-color: white !important;
  }
}
